  NEXT_PUBLIC_SUPABASE_URL =https://xsmgobjwxembbhzrzgka.supabase.co
  NEXT_PUBLIC_SUPABASE_ANON_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzbWdvYmp3eGVtYmJoenJ6Z2thIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTkyNjIsImV4cCI6MjA4OTAzNTI2Mn0.jNjjAu1_NL0whEpNlaUBr743RUKHK2jkv89K2oR42BI
